doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript", src="/javascripts/scripts.js")
    !{JShare()}
  body
    block content